//overview
//text
$color_text_body: rgb(57, 76, 90);
$color_text_number_up: green;
$color_text_number_down: red;
$color_text_logo: rgb(0, 121, 251);
$color_text_active: #f2f2f2;
$color_text_border:rgb(57, 76, 90);

$color_text_link: rgb(65, 131, 196);

$color_text_end_footer: rgb(57, 76, 90);

//border
$color_border_api_key: rgb(65, 131, 196);
$color_border: rgba(34, 36, 38, 0.15);
$color_border_menu: rgb(212, 212, 213);


//background
$color_background_header_top: rgb(249, 250, 251);
$color_background_footer: rgb(249, 250, 251);

//
$align-items:("center":center);